body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app{
  display: grid;
  grid-template-rows: 80px auto 80px;
  width: clamp(0em, 100%, 95vw);
  background-color: darkgoldenrod;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

header,
main,
footer {
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  grid-area: 1 / 1 ;
  background-color: darkseagreen;
  align-content: center;

  img {
    display: flex;
    width: 40px;
    height: 40px;;
  }
}

main {
  grid-area: 2 / 1 ;
  align-content: center;
  width: 100%;
  // max-height: calc(100% - 160px);
  // overflow: hidden;
  // max-height: calc(100% - 160px);
  justify-content: center;
}

footer {
  grid-area: 3 / 1 ;
  background-color: darkseagreen;
}

